Django==1.7.3
bleach==1.4.1
flake8==2.3.0
html5lib==0.999
mccabe==0.3
pep8==1.5.7
pyflakes==0.8.1
six==1.9.0
-e git+https://github.com/rbarrois/python-ldap@py3#egg=python-ldap
-e git+https://github.com/jonge-democraten/janeus@1.2#egg=janeus
html2text==2015.4.14
future==0.14.3
gunicorn==19.3.0
