<!DOCTYPE html>
{% load staticfiles %}
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Jonge Democraten Nieuwsbrieven{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'hemres/css/template.css' %}">
    <!--<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>-->
    <script type="text/javascript" src="{% static 'admin/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div id="container">
      <div id="content">
      {% block logo %}<div style="display: block; margin-bottom: 8px;"><a href="{% url 'home' %}"><img src="{% static 'hemres/images/JongeDemocraten.png' %}" width="240px" height="100px"  border="0" /></a></div>{% endblock %}
      {% block content %}{% endblock %}
      </div>
    </div>
  </body>
</html>
