{% extends 'hemres/base_email.html' %}
{% load hemres_email %}
{% block title %}Jonge Democraten Nieuwsbrieven{% endblock %}
{% block content %}
<div style="display: block; margin-bottom: 8px;"><img src="{% emailimage_static 'hemres/images/JongeDemocraten.png' %}" width="auto" height="100px"  border="0" /></div>

<p>Beste {% if name %}{{name}}{% else %}geïnteresseerde{% endif %},</p>

<p>Via de website van de Jonge Democraten heb je aangegeven dat je je wilt abonneren
op één van onze nieuwsbrieven of dat je
je abonnementen wilt wijzigen.</p>

{% for t in janeus_subscriber_tokens %}
<p>Volgens onze gegevens hoort jouw emailadres bij lid <strong>{{ t.subscriber.name }}</strong> (lidnummer {{ t.subscriber.member_id }}).
Je kunt je nieuwsbriefabonnementen beheren via <a href="{{ absolute_uri }}{{ t.get_absolute_url }}">deze link</a>.</p>
{% endfor %}

{% for t in email_subscriber_tokens %}
<p>Voor het emailadres &quot;{{ t.subscriber.email }}&quot; kun je de nieuwsbriefabonnementen beheren via <a href="{{ absolute_uri }}{{ t.get_absolute_url }}">deze link</a>.</p>
{% endfor %}

<p>Met vrijzinnige groet,<br/>
De Jonge Democraten.</p>
{% endblock %}
