{% extends 'hemres/base.html' %}
{% block content %}
<form action="" method="post">
    <div class="formpart">
        {% csrf_token %}
        {% for hidden in create_form.hidden_fields %}{{ hidden }}{% endfor %}
        <div class="title">Jonge Democraten Nieuwsbrieven</div>
        <div class="text"><p>Op deze pagina wijzig je de abonnementen van lid <strong>{{ object.name }}</strong> (lidnummer {{ object.member_id }}).</p></div>
        {{ form.non_field_errors }}
        {% for f in form.visible_fields %}
        <div class="question">{{ f.label_tag }}{{ f }}{% if f.errors %}<div class="errors">{{ f.errors.as_text }}</div>{% endif %}</div>
        {% endfor %}
        {% if auto_subscriptions %}
        <div><p>Op de volgende nieuwsbrieven ben je automatisch geabonneerd:</p></div>
        <ul>
        {% for s in auto_subscriptions %}
        <li>{{ s }}</li>
        {% endfor %}
        </ul>
        {% endif %}
        <div class="submit"><input class="button" type="submit" value="Opslaan" /></div>
    </div>
</form>
{% endblock %}
